$itemGrow: 1.2;
$duration: 500ms;

html {
    scroll-behavior: smooth;
}
.video-carousel {
    height: 200px;
    width: 200px;
}

.carousel-row-row {
    margin: 0;
}
.wrapper {
    display: grid; 
    grid-template-columns: repeat(3, 100%);
    width: 100%;

    section {
    width: 100%;
    height: 200px;
    position: relative;
    display: grid;
    grid-template-columns: repeat(8, auto);
    margin: 20px 0;
    .item {
        padding: 0 2px;
    }
    }

    a {
        position: absolute;
        text-decoration: none;
        width: 80px;
        padding: 20px;
        text-align: center;
        &:nth-of-type(1) {
        top:0;
        bottom: 0;
        left: 0;
        z-index: 1;
        }

        &:nth-of-type(2){
        top: 0;
        bottom: 0;
        right: 0;
        }
    }

   
}
#section1 {
    background-color: black;
}

#section2 {
    background-color: black;
}

#section3 {
    background-color: black;
}