.carousel-row {
    display: flex;
    padding: 0; 
    width: 95%;
    height: 20%;
    background: black;
    margin: 0;
    overflow: hidden;
}

.right-button-click {
    display: none;
    background-color: transparent;
    border: none;
    color: white;
}

.carousel-row:hover .right-button-click{
    display: block;
}

.button-cont {
    display: flex;
}