.download {
    border-top: 5px solid gray;
    padding-top: 3%;
    
    background-color: black;
    color: white;
    display: flex; 
    justify-content: center;
    padding-bottom: 3%;
}

.download-image {
    height: 200px;
    padding-right: 50px;
}
.download-text {
    padding-left: 100px;
    width: 25%;
}