.download {
    border-top: 7px solid lightgray;
    background-color: black;
    color: white;
    display: flex; 
    justify-content: center;
}

.download-image {
    height: 200px;
}
.download-text {
    width: 25%;
}