.login-page {
    height: 1600px;
    background-image: url('https://assets.nflxext.com/ffe/siteui/vlv3/bcd713c9-291e-4186-a275-117b387eaaf2/2af1c55a-fdb6-4f2e-8e5b-63fd1c52f0b4/US-en-20201019-popsignuptwoweeks-perspective_alpha_website_small.jpg');
}

.loginNetflix {
    color: red;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    margin-top: 0;
}
.session-form {
    background-color: black;
    height: 550px; 
    width: 22%;
    display: flex;
    justify-content: center;
    opacity: .8;
}
.login-input {
    padding: 5px;
    margin: 10px;
}

.signin-login-btn {
    width: 95%;
    height: 50px;
    font-weight: 400;
}

.login-page-text {
    color: white;
}

.login-page-header { 
    margin-left: 3%;
}

.login-container {
    display: flex;
  
    justify-content: center;
}
 .login-input {
     height: 25px;
     width: 87%;
     margin-bottom: 10px;
 }


.login-text-link {
    color: white;
    text-decoration: none;
}

.loginbreak {
    height:20px;
}
.signup-input {
    width: 100%;
}

.page {
    height: 100%;
}

.error-text {
    color: white;
    font-size: small;
    text-align: center;
}

.error-container {
    background-color: orange;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 2px;
    padding-right: 2px;
}

.error-text-sign-in {
    color: red;
    font-size: small;
}

.sign-up-link {
    margin-right: 8%;
    text-align: center;
}

.sign-up-header-heroflix {
    margin-top: 10%;
}