.myVideo {
  position: relative;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 60%;
}

.content {
  position: absolute;
  top: 15%;
  background-color:	transparent;
  color: #f1f1f1;
  width: 80%;
  padding: 20px;
  margin-bottom: 20%;
}

.big-video-title {
  width: 30%;
  font-size: 250%;
}
.big-video-desc {
  width: 30%;
  font-size: 125%;
}

.play-vid-button {
  width: 6%;
  height: 40px;
  border-radius: 5px;
  border: none;
  background: white;
  margin-right: 2%;
  font-size: 80%;
}
.info-vid-button {
  width: 6%; 
  height: 40px;
  border-radius:  5px;
  border: none; 
  background: gray;
  color: white; 
  font-size: 80%;
  
}

.link-icon {
  margin-top: 14px;
}

.linked {
  margin-right: 40px; 
}

.github {
  margin-left: 40px;
}

.main-video-buttons {
  display: flex; 
  align-items: center;
}

.nav-bar-link{
  margin-left: 10px; 
  margin-right: 10px;
}
.search-bar {
  border: 1px solid white; 
  color: white; 
  background-color: transparent;
  height: 30px;
}