.myVideo {
  position: relative;
  right: 0;
  top: 0;
  min-width: 100%;
  min-height: 60%;
}

.content {
  position: absolute;
  top: 40%;
  background-color:	transparent;
  color: #f1f1f1;
  width: 100%;
  padding: 20px;
}

.big-video-title {
  width: 30%;
  font-size: 50px;
}
.big-video-desc {
  width: 30%;
  font-size: 20px;
}

.play-vid-button {
  width: 100px;
  height: 45px;
  border-radius: 5px;
  border: none;
  background: white;
  margin-right: 20px;
  font-size: 16px;
}
.info-vid-button {
  width: 130px; 
  height: 45px;
  border-radius:  5px;
  border: none; 
  background: gray;
  color: white; 
  font-size: 16px;
  
}

.link-icon {
  margin-top: 14px;
}

.linked {
  margin-right: 40px; 
}

.github {
  margin-left: 40px;
}