.my-list-cont {
    background: #141414;
    color: #fff;
    height: 100%;
    width: 100%;
     position: fixed;
     left: 0;
     top: 0; 
     z-index: 10;
}


.my-list-shows {
    margin-top: 10%;
    margin-left: 2%;
}