.my-list-cont {
    // background: #141414;
    font-family: 'Bebas Neue', cursive;
    background: black;
    color: #fff;
    height: 100%;
    width: 100%;
     position: fixed;
     left: 0;
     top: 0; 
     z-index: 10;
}


.my-list-shows {
    margin-top: 10%;
    margin-left: 2%;
}

.my-list-cont-shows {
    display: flex; 
    flex-wrap: wrap;
}