.profiles-page {
    background: black;
    color: white;
}

.netflix-text {
    color: red;
    font-family: 'Bebas Neue', cursive;
    font-size: 50px;
    background-color: black;
    margin: 0;
}

.profiles-header {
    display: flex;
    justify-content: center;
}
.profiles-col {
    display: flex;
    justify-content: space-around;
    margin-left: 150px;
    margin-right: 150px;
    
}

.profile-image {
    height: 200px;
    width: 200px;
}

.showpage-container {
    height: 2000px;
    background-color: black;
}

.prof-name-text {
    text-decoration: none;
}
.button-div {
    height: 200px;
    width: 200px;
}
.add-button-container {
    display: flex;
    flex-direction: column;
    background-color: black;
}
.add-button-img {
    margin: 0px;
    padding: 0px;
}
.add-prof-button {
    margin-top: 30px;
}

.who-watch {
    font-size: 50px;
}

.my-list-link:visited {
    text-decoration: none;
    color: white; 
}

.my-list-link:visited {
    text-decoration: none;
    color: white;
}