.profile-show {
    background-color: black;
    color: white; 
    height: 2500px;
    margin: 0;
    width: 100%;
}

.netflix-show-prof-text {
    margin: 0;
    padding: 0;

}

.nav-bar-show {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed; 
    z-index: 1;
    width: 100%;
}



.nav-bar-left {
    display: flex;
    flex-direction: row;
}

.nav-bar-right {
    display: flex;
    flex-direction: row;
}

.nav-bar-image {
    height: 30px;
    width: 30px;
}

.nav-bar-item {
    padding-left:10px;
    padding-right: 10px;
    font-size: 15px;
}

.netflix-text-navbar {
    margin-left: 30px;
    padding-right: 10px;
    background: transparent;
}
.last-item {
    margin-right: 30px;
}

a {
    text-decoration: none;
}
.nav-bar-dropdown-text {
    color: white; 
    size: 10px;
    margin-right: 10px;
}

.nav-bar-dropdown-image {
    width: 20px;
    height: 20px;
}
.nav-bar-dropdown-item {
    display: flex;
    align-items: center;
}

.dropdown-hover {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  right: 0;
  display: none;
  position: absolute;
  background-color: black;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
  border: 1px solid grey;
}

.dropdown-hover:hover .dropdown-content {
    display:block;
}

.single-div-dropdown {
    background-color: black;
}

.sign-out-button {
    color: white;
    background-color: black;
    border: none;

}
.account-button {
    color: white;
    background-color: black;
    border: none;
    border-top: 2px solid grey;
    padding-top: 20px;
}