.email-text-box {
    width:100%;
    height: 83%;
}

.email-submit-but {
    width: 35%;
    background-color: red;
    color: white;
    font-size: 25px;
    height: 9%;
}

.email-submit-form {
    display: flex;
    height: 25%;
}

.text-box-div {
    width: 50%;
    margin-left: 10%;
 
}