.email-text-box {
    width:64%;
    height: 50px;
}

.email-submit-but {
    width: 35%;
    background-color: red;
    color: white;
    font-size: 25px;
}

.email-submit-form {
    display: flex;
}