.email-text-box {
    width:65%;
    text-align: left;
}

.email-submit-but {
    width: 40%;
    background-color: red;
    color: white;
    font-size: 25px;
    padding: 2%;
}

.email-submit-form {
    display: flex;
}

.text-box-div {
    width: 50%;
    margin-left: 10%;
}