.signup-box {
    text-align: center;
    color: white;
}


.signup-box {
    display: flex;
    justify-content: space-between;
}

.signup-btn {
    background-color: red;
    color: white;
    text-decoration: none;
    height: 40%;
    width: 6%;
    font-weight: 400;
    padding-top: 2px;
    padding-bottom: 2px;
    padding-left: 8px;
    padding-right: 8px;
    text-align: center;
    border-radius: 10px;
}

