.signup-header {
    display: flex; 
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    align-items: center;
}

.login-text-link {
    color: gray;
}

.loginNetflix {
    padding-left: 20px;
}

.signup-form-container {
    display: flex;
    justify-content: center;
}

.signup-form {
    width: 20%;
}

.signup-big-text {
    font-weight: 900;
}

.email-text {
    font-weight: bold;
}