.signup-header {
    display: flex; 
    justify-content: space-between;
    border-bottom: 1px solid lightgray;
    align-items: center;
}

.login-text-link {
    color: gray;
}

.loginNetflix {
    padding-left: 20px;
}

.signup-form-container {
    display: flex;
    justify-content: center;
}

.signup-form {
    width: 20%;
}

.signup-big-text {
    font-weight: 900;
    margin: 0px;
    margin-bottom: 3px;
}
.first-sign-up {
    margin-top: 20px;
}

.email-text {
    font-weight: bold;
    margin-top: 2px;
}

.email-text-title {
    margin-bottom: 0px;
}

.signup-input {
    height: 40px;
    margin-bottom: 20px;
}