.big-box {
    // height: 175px;
    // width: 300px;
    // background-color: black;
    // margin-right: 10px;
    background-color: black;
    flex: 0 0 19.7%;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
    height: 75%;
    width: 3%;
}
.video-image {
    width: 150px; 
    height: 150px;
    // margin: 10px;
    border-radius: 10px;
    flex: 0 0 19.7%;
    margin: 0 2px;
    transition: transform 300ms ease 100ms;
    
}

.big-video-image {
    display: none;
    height: 100%;
    width: 100%;

    margin: 0;
    padding: 0;
}
.big-box:hover .big-box {
    transform: translateX(-20%);
}


.video-cont {
    display: none;
}

.big-box:hover {
    transform: scale(1.5)
}

.big-box:hover .big-video-image {
    display: block;
    display: absolute;
    z-index: 1;
}
.big-box:hover .video-image {
    display: none;
}
.big-box:hover .video-cont {
    display: absolute;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
}

.big-box:hover .big-video-image {
    display: block;
    display: absolute;
    z-index: 1;
}


.video-cont {
    display: none;
}




.video-button {
    border-radius: 100px;
    height: 35px;
    width: 35px;
    margin-top: 15px;
    margin-left: 5px;
    margin-right: 5px;
    margin-bottom: 10px;
}

.button-list {
    background-color: 	rgb(48,48,48);
    display: flex;
    justify-content: space-between;
}
.carousel-row {
    display: flex;
    margin-bottom: 30px;
}

.carousel-whole {
    margin-top: 3%;
    background-color: black;
    width: 75%;
    margin-left: 3%;
}