.big-box {
    // height: 175px;
    // width: 300px;
    // background-color: black;
    // margin-right: 10px;
    background-color: black;
    // flex: 0 0 19.7%;
    margin-right: .5%;
    margin-bottom: 5%;
    transition: transform 300ms ease 100ms;
    height: 20%;
    width: 15%;
    max-height: 150px;
    
    
}
.video-image {
    // object-fit: fill;
    // // margin: 10px;
    border-radius: 5px;
    // flex: 0 0 19.7%;
    // margin: 0 2px;
    transition: transform 300ms ease 100ms;
    width: 100%;
    max-height: 150px;
    min-height: 150px;
    height: 100%;

    // object-fit: cover;
    // display: none;
}

.big-video-image {
    display: none;
    height: 100%;
    width: 100%;
    max-height: 120px;
    margin: 0;
    padding: 0;
}
.big-box:hover .big-box {
    transform: translateX(-20%);
}

.big-video-image {
    height: 120px;
    display: none;
}
.video-cont {
    display: none;
    height: 160px;
}

.big-box:hover {
    transform: scale(1.5)
}

.big-box:hover .big-video-image {
    display: block;
    display: absolute;
    z-index: 1;
}
.big-box:hover .video-image {
    display: none;
}
.big-box:hover .video-cont {
    display: absolute;
    display: flex;
    flex-direction: column;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
    min-height: 150px;
    
}

.big-box:hover .big-video-image {
    display: block;
    display: absolute;
    z-index: 1;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    height: 100%;
}


.video-cont {
    display: none;
}




.video-button {
    background-color: 	rgb(48,48,48);
    border: 0;
    color: white;
    margin-left: 3%;
    margin-right: 3%;
    height: 50%;
    width: 30%;
}

.button-list {
    background-color: 	rgb(48,48,48);
    height: 20%;
    min-height: 40px;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

.buttons-top-box {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.carousel-row {
    display: flex;
    background-color: black;
    // align-items: center;
}

.carousel-whole {
    padding-top: 1%;
    background-color: black;
    margin-left: 4%;
}

.carousel-whole-parent {
    background: black;
   
}

.left-buttons {
    margin-right: 60%;
    margin-top: 2%;
}



.dropdown-text-title {
    margin: 0;
}

.buttons-container-top {
    display: flex;
    justify-content: space-between;
}

.title-container {
    margin: 0;
    text-align: center;
}

.genres-text {
    font-size: x-small;
}

.my-list-hover {
    
    position: absolute;
    visibility: hidden;
    color: black; 
    background-color: white;
    z-index:10;
    width: 80px;
    text-align: center;
    font-size: xx-small;
    height: 25px;
    border-radius: 5px;
    font-weight: bold;
    opacity: 0;
}

.right-buttons:hover .my-list-hover {
    visibility: visible;
    bottom: 18px;
    opacity: 1;
    transition: opacity .5s linear;
    right: .5px;
}

.right-buttons {
    margin-left: 5%;
    margin-top: 2%;
    position: relative;
    
}

.genres-text {
    margin: 0;
}