.tv {
    padding-top: 50px;
    border-top: 5px solid gray;
    background-color: black;
    color:white;
    display: flex;
    justify-content: center;
    height: 500px;
}

.tv-text {
    width: 30%;
}

.tv-text-header {
    width: 100%; 
    font-weight: 300;
}

.tv-text-text {
    width: 75%
}

.tv-image {
    height: 50%;
}