.watch {
    border-top: 5px solid gray;
    padding-top: 50px;
    background: black;
    display: flex; 
    justify-content: center;
    height: 500px;
}

.watch-text {
    color: white;
    width: 25%;
    padding-right: 50px;
}

.watch-image {
    width:25%;
    padding-left: 100px;
    height: 200px;
}